.task {
   background: #f4f4f4;
   margin-inline: 5px;
   margin-block: 15px;
   padding: 10px 20px;
   h3 {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   .actions {
      display: flex;
      gap: 0.3rem;
      fa-icon {
         cursor: pointer;
         color: rgb(21, 5, 58);
         &:last-child {
            color: orangered;
            &:hover {
               color: rgb(253, 5, 5);
            }
         }
      }
   }
   & * {
      user-select: none;
   }
}

.task.reminder {
   border-left: 5px solid green;
}
