<form>
   <div class="form-control">
      <label for="test">Task</label>
      <input type="text" name="text" placeholder="modifica task" />
   </div>
   <div class="form-control">
      <label for="day">Giorno</label>
      <input type="text" name="day" placeholder="modifica quando" />
   </div>
   <div class="form-control form-control-check">
      <label for="reminder">Priorità</label>
      <input type="checkbox" name="reminder" />
   </div>
   <button type="submit" value="Save Task" class="save-btn">Modifica</button>
</form>
