<form>
   <div class="form-control">
      <label for="test">Task</label>
      <input type="text" name="text" id="text" placeholder="aggiungi task" />
   </div>
   <div class="form-control">
      <label for="day">Giorno</label>
      <input type="text" name="day" id="day" placeholder="aggiungi quando" />
   </div>
   <div class="form-control form-control-check">
      <label for="reminder">Priorità</label>
      <input type="checkbox" name="reminder" id="reminder" />
   </div>
   <button type="submit" value="Save Task" class="save-btn">Salva</button>
</form>
